# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
/AutoPlug-Uploader.jar
/config.yml
/Skidamek/
/logs/latest.log

output/
libs/

.metadata

.architectury-transformer
/Merged/
/merged/
/core/automodpack/

dupes